{% extends 'base.html' %}

{% block title %}
    {{ comic.title }}
{% endblock %}

{% block content %}
    <div class=" my-xl-3">
        <div class="row mb-1">
            <div class="col-md-8">
                <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <h3 class="mb-0">{{ object.title }}</h3>
                        <div class="mb-1 text-muted">{{ object.dates.0.date|slice:10 }}</div>
                        <p class="card-text mb-auto">{{ object.description }}</p>
                        <p class="card-text mb-auto">{{ object.ean }}</p>
                        <p class="mb-1">Истории:</p>
                        <ul>
                        {% for story in object.stories.all %}
                            <li class="card-text mb-auto">{{ story.name }}</li>
                        {% endfor %}
                        </ul>

                        <p class="mb-1">Персонажи:</p>
                        <ul>
                        {% for char in object.characters.all %}
                            <li class="card-text mb-auto">{{ char.name }}</li>
                        {% endfor %}
                        </ul>

                        <p class="mb-1">Изображения:</p>
                        {% for image in object.images.all %}
                            <img src="{{ image.image_url }}" alt=""
                            width="100" height="120">
                        {% endfor %}

                        <a href="{% url 'marvel:master_edit' comics.pk %}" class="btn btn-primary" type="submit">Редактировать</a>
                        <a href="{% url 'marvel:master_delete' comics.pk %}" class="btn btn-primary" type="submit">Удалить</a>


                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <img class="bd-placeholder-img" src="{{ object.thumbnail }}"
                             alt="обложка {{ object.title }}" width="400" height="550">
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
