<nav class="navbar navbar-expand navbar-dark bg-dark">
  <a class="navbar-brand" href="#">ComicsAPI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample02" aria-controls="navbarsExample02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarsExample02">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'marvel:comics_api_list' %}">Главная<span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="{% url 'marvel:master_list' %}">Профиль</a>
      </li>
      {% if request.user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link">Добро пожаловать {{ user.username }} </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'marvel:logout' %}">Выйти</a>
          </li>
      {% else %}
          <li class="nav-item">
            <a class="nav-link" href="{% url 'marvel:login' %}">Войти</a>
          </li>
      {% endif %}
    </ul>

    <form class="form-inline my-2 my-md-0" method="get" action="{% url 'marvel:comics_api_list' %}">
      <input class="form-control" name="title" type="text" placeholder="Search">
      <input class="form-control" type="submit" value="Искать">

    </form>
  </div>
</nav>